<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'Fog Cloud' %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'application', :media => 'all' %>

  <!-- favicon -->
  <!-- 144 x 144 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png', :sizes => '144x144' %>
  <!-- 114 x 114 pixels -->
  <%= favicon_link_tag 'faviconpng', :rel => 'icon', :type => 'image/png', :sizes => '114x114' %>
  <!-- 72 x 72 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png', :sizes => '72x72' %>
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'icon' %>

  <%= javascript_include_tag 'application' %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
  </nav>

  <div class="container">
    <!--%= bootstrap_flash %-->
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <%= yield %>
    </div>
  </div>

  <footer>
    <p>&copy; CyberDragon 2018</p>
  </footer>

  <script>
    $(document).ready(function() {
      <%= yield(:script_on_load) %>
    });
  </script>

</body>
</html>
